@import "variables";

.discobolus {
  // do something
}


@media screen {
  @media (min-width: 1384px) {
    .discobolus {
      .content-wrapper {
        width: 1350px;
      }
      .rightcol {
        width: 1074px;
      }
    }
  }

  @media (min-width: 1742px) {
    .discobolus {
      .content-wrapper {
        width: 1708px;
      }
      .rightcol {
        width: 1432px;
      }
    }
  }
}